
<div class="container">
  <div class="row">
        
    <div class="col-xs-12" id="text-show">
      
      <div class="col-xs-7">

        <h1 class="text-center" id="show_title"><%= @construction.name %><hr></h1>
        
        <%= image_tag @construction.image_url, id:"show_image", class:"img-circle" %>

        <div id="image_info">
          <div class="pull-left">
            <%= markdown("###`Capacidad:`###")%><%= @construction.capacity %> Estudiantes
          </div>
        
          <div class="pull-right">
            <%= markdown("###`Sede:`###")%><%= @construction.city %>
          </div>
        </div>

        <h3 class="col-xs-4 col-xs-offset-4">
          <% if user_signed_in? && @construction.user == current_user %>

            <div class="text-center" id="description_buttons">
              <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_construction_path(@construction), id:"edit_button" %>

              <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, @construction, data: { confirm: "Are you sure?" }, method: :delete, id:"delete_button" %>
            </div>

          <% end %>
        </h3>
      </div>


      <div class="col-xs-5">
        <div id="text_controller">
          <div id="description">
            <br><%= markdown(@construction.description) %> 
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-5" id="text-show">
    <h3>Comentarios ( <%= @construction.comments.count %> )</h3>
    <hr>
    <% @construction.comments.each do |comment| %>

      <div class="panel panel-default">
        <div class="panel-heading" id="panelComments">
          <strong><%= comment.user.email %> comentó hace <%= time_ago_in_words(comment.created_at) %></strong>
        </div>

        <div class="panel-body" id="text_controller">
          <%= comment.body %>
          <% if user_signed_in? && comment.user == current_user %>
            <strong><%= link_to "Eliminar", [comment.construction, comment], :method => :delete, class:"pull-right" %></strong>
          <% end %>
        </div>
        
      </div>

    <% end %>

    <% if user_signed_in? %>
      <%= form_for([@construction, @construction.comments.build]) do |f| %>

        <div class="form-group">
          <h4>Nuevo Comentario</h4>
          <%= f.text_area :body, class:"form-control", placeholder:"Ingresa tu comentario" %>
        </div>

        <div class="form-group">
          <%= f.submit "Comentar", class:"btn btn-primary" %>
        </div>
        <br>

      <% end %>
    <% end %>
    
  </div>
</div>
